/* styles.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  header.hero {
    background: url(imagens/bg-5.jpg) no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 4rem; /* Ajuste o padding conforme necessário */
    height: 100vh; /* Garante que o cabeçalho ocupe toda a altura da viewport */
  }
  
  header .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  header h1 {
    font-size: 3rem;
  }
  
  header p {
    font-size: 1.5rem;
  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  article {
    margin-bottom: 1rem;
  }
  
  article header {
    background: #f4f4f4;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  
  article h2.cabecalho {
    margin: 0;
    font-size: 1.5rem;
  }
  
  a {
    display: block;
    color: #6B6C68;
    text-decoration: none;
    padding: 0.5rem 0;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer.rodape {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  /* Layout responsivo */
  @media (max-width: 768px) {
    header h1 {
      font-size: 2.5rem;
    }
  
    header p {
      font-size: 1.2rem;
    }
  
    main {
      padding: 0.5rem;
    }
  
    article header {
      padding: 0.5rem;
    }
  
    article h2.cabecalho {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 480px) {
    header h1 {
      font-size: 1.5rem;
    }
  
    header p {
      font-size: 0.9rem;
    }
  
    a {
      font-size: 0.9rem;
    }
  
    footer.rodape {
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  }
  